{
  "projects": {
    "production": "",
    "development": ""
  },
  "targets": {
    "": {
      "hosting": {
        "app": [
          ""
        ]
      }
    },
    "": {
      "hosting": {
        "app": [
          ""
        ]
      }
    }
  }
}
