rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    allow write, read: if false;

    function isLoggedIn() {
      return request.auth != null;
    }
    function isMe(userID) {
      return isLoggedIn() && request.auth.uid == userID;
    }

    match /users/{userID} {
      allow write, read: if false;

      match /records/{recordID} {
        allow write: if false;
        allow read: if isMe(userID);
      }

      match /watches/{watchID} {
        allow write, read: if false;
      }
    }

    match /tokens/{userID} {
      allow write: if false;
      allow read: if isMe(userID);
    }

    match /userStatuses/{userID} {
      allow write: if isMe(userID);
      allow read: if false;
    }
  }
}
