rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isLoggedIn() {
      return request.auth != null;
    }
    function isMe(userID) {
      return isLoggedIn() && request.auth.uid == userID;
    }

    match /users/{userID} {
      allow write: if request.resource.data.keys().hasAll(["twitterAccessToken", "twitterAccessTokenSecret", "twitterId"])
                   && request.resource.data.twitterAccessToken is string
                   && request.resource.data.twitterAccessTokenSecret is string
                   && request.resource.data.twitterId is string;
    }
  }
}
