@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #111;
  --sub: #666;
  --back: #fff;
  --back-2: #eee;
  --shadow: rgba(0, 0, 0, 0.19);
  --back-shadow: rgba(255, 255, 255, 0.8);
  --primary: #2196f3;
  --primary-bg: #2196f322;
  --primary-gradient: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  --yuku: #ffcdd2;
  --kuru: #bbdefb;
  --danger: #ef5350;

  --safe-bottom: 0px;
  --safe-bottom: constant(safe-area-inset-bottom);
  --safe-bottom: env(safe-area-inset-bottom);
}

html[data-theme='dark'] {
  --main: #eee;
  --sub: #999;
  --back: #111;
  --back-2: #222;
  --shadow: rgba(255, 255, 255, 0.4);
  --back-shadow: rgba(0, 0, 0, 0.8);
  --primary: #2196f3;
  --primary-bg: #2196f322;
  --primary-gradient: linear-gradient(120deg, #006d75 0%, #004099 100%);
  --yuku: #b71c1c;
  --kuru: #0d47a1;
  --danger: #e53935;
}
