.wrapper {
  box-shadow: 0 2px 4px 0 var(--shadow);
  transition: box-shadow 0.3s ease-out;
  max-width: 400px;
  width: 80%;

  @media screen and (max-width: 639px) {
    &[data-type='yuku'] {
      background: linear-gradient(to right, var(--yuku) 0%, var(--yuku) 100%) left/8px 1px repeat-y var(--back);
    }
    &[data-type='kuru'] {
      background: linear-gradient(to right, var(--kuru) 0%, var(--kuru) 100%) right/8px 1px repeat-y var(--back);
    }
  }

  @media screen and (min-width: 640px) {
    max-width: calc(50% - 40px);
    width: 400px;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 var(--shadow);
  }
}
