// TOP でも利用
.userSection {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: none;

  &[data-type='yuku'] {
    background: linear-gradient(
        to right,
        transparent 0%,
        transparent 20%,
        var(--yuku) 20%,
        var(--yuku) 50%,
        transparent 50%
      )
      center center/100% 2px no-repeat;

    &::before {
      background: var(--yuku);
    }
  }

  &[data-type='kuru'] {
    background: linear-gradient(
        to left,
        transparent 0%,
        transparent 20%,
        var(--kuru) 20%,
        var(--kuru) 50%,
        transparent 50%
      )
      center center/100% 2px no-repeat;

    &::before {
      background: var(--kuru);
    }
  }

  &::before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;

    @media screen and (min-width: 640px) {
      content: '';
    }
  }

  &[data-type='yuku'] + &[data-type='kuru'],
  &[data-type='kuru'] + &[data-type='yuku'] {
    @media screen and (min-width: 640px) {
      margin-top: -44px;
    }
  }

  & > * {
    pointer-events: initial;
  }
}
